@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Black.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Extralight.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Medium.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Thin.woff") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-ExtraBold.woff") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

.cooperation .cooperation__title {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #1b3771;
  font-size: 58px;
  font-weight: 600;
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.cooperation .cooperation__title::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: -1;
  content: "";
  width: 340px;
  height: 46px;
  left: calc(50% - 170px);
  bottom: 0px;
  background-color: #fff2a3;
}

.cooperation .cooperation_programm {
  -webkit-box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
          box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  height: 438px;
  background-color: white;
  background-image: url("../img/Group 7509.png");
  background-repeat: no-repeat;
  background-position: 100%;
  margin-bottom: 20px;
}

.cooperation .cooperation_programm .cooperation_programm__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top h2 {
  font-size: 28px;
  color: #1B3771;
  font-family: "BebasNeueBold";
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top span {
  position: relative;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top span::after {
  position: absolute;
  right: 0;
  content: url("../img/info_outline.svg");
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info {
  position: absolute;
  bottom: 0;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info .cooperation_programm__email {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info .cooperation_programm__email span {
  position: relative;
  z-index: 20;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info .cooperation_programm__email span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  content: "";
  width: 307px;
  height: 18px;
  left: -7px;
  bottom: -30px;
  background-color: #fff2a3;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__main_text {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
  max-width: 566px;
}

.cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__add_text {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 14px;
  font-weight: 300;
  display: block;
  max-width: 530px;
}

.cooperation .ref_programm {
  -webkit-box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
          box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.cooperation .ref_programm .ref_programm__background_image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.cooperation .ref_programm .ref_programm__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__left__title {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #1b3771;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__left__text {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__buttons .ref_programm__left__first_button {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 192px;
  height: 36px;
  border-radius: 6px;
  color: #1B3771;
  font-family: 600;
  font-size: 12px;
  font-family: "ZonaPro";
  border: none;
  background-color: #f4e58a;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #f4e58a;
  margin-top: 20px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__buttons .ref_programm__left__first_button:hover {
  background-color: white;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__buttons .ref_programm__left__second_button {
  font-family: "ZonaPro";
  color: #1B3771;
  border: 1px solid #1B3771;
  background-color: transparent;
  border-radius: 6px;
  height: 36px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: 100;
  margin-top: 20px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__left .ref_programm__buttons .ref_programm__left__second_button:hover {
  background-color: #1B3771;
  color: white;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__right .ref_programm__step {
  padding: 28px;
  border-radius: 15px;
  border: 1px solid #edf3ff;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__right .ref_programm__step .ref_programm__step__title {
  font-family: "BebasNeueBold";
  color: #1b3771;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__right .ref_programm__step .ref_programm__step__main_text {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
}

.cooperation .ref_programm .ref_programm__container .ref_programm__right .ref_programm__step .ref_programm__step__add_text {
  font-family: "ZonaPro";
  color: #1b3771;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

@media (max-width: 1200px) {
  .cooperation .cooperation_programm {
    background-image: none;
  }

  .cooperation .ref_programm .ref_programm__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .cooperation .ref_programm {
    padding: 30px;
  }

  .cooperation .ref_programm .ref_programm__container .ref_programm__right {
    grid-template-columns: 1fr;
  }

  .cooperation .ref_programm .ref_programm__container .ref_programm__right .ref_programm__step {
    padding: 20px;
  }

  .cooperation .cooperation__title {
    font-size: 42px;
  }

  .cooperation .cooperation__title::before {
    height: 34px;
    width: 260px;
    left: calc(50% - 130px);
  }

  .cooperation .cooperation_programm {
    height: 350px;
    padding: 30px;
    width: 100%;
    margin-bottom: 20px;
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top .cooperation_programm__info_market {
    display: none;
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__top h2 {
    font-size: 22px;
    color: #1B3771;
    font-family: "BebasNeueBold";
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info .cooperation_programm__email {
    font-size: 20px;
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__info .cooperation_programm__email span::before {
    width: 210px;
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__main_text {
    font-size: 16px;
  }

  .cooperation .cooperation_programm .cooperation_programm__container .cooperation_programm__add_text {
    font-size: 12px;
  }
}