@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Black.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Extralight.woff") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Medium.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/GraphikLCG-Thin.woff") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Bold.woff") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-ExtraBold.woff") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Light.woff") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Regular.woff") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ZonaPro";
  src: url("../fonts/ZonaPro-Semibold.woff") format("truetype");
  font-weight: 600;
  font-display: swap;
}

.ex_proc {
  font-family: "ZonaPro";
  margin-bottom: 120px;
}

.ex_proc .ex_proc__title {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #1b3771;
  font-size: 68px;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 70px;
}

.ex_proc .ex_proc__title::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: -1;
  content: "";
  width: 390px;
  height: 46px;
  left: calc(50% - 195px);
  bottom: 10px;
  background-color: #fff2a3;
}

.ex_proc .ex_proc__container {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
          box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
}

.ex_proc .ex_proc__container .ex_proc__first_point {
  padding: 45px 50px;
  padding-bottom: 40px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__title {
  font-family: "BebasNeueBold";
  color: #1B3771;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block {
  height: 86px;
  top: 4px;
  margin-left: 26px;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block::before {
  content: "";
  display: block;
  width: 6px;
  background-color: #1B3771;
  height: 100%;
  top: 0;
  border-radius: 5px;
  left: -26px;
  position: absolute;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block .first_block__text {
  font-family: "ZonaPro";
  font-size: 14px;
  color: #1B3771;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block .first_block__text span {
  font-weight: 600;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block {
  border-radius: 10px;
  padding: 15px 23px;
  border: 1px solid #edf3ff;
  position: relative;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block.aft::after {
  position: absolute;
  top: calc(50% - 14px);
  right: -34px;
  content: "";
  display: block;
  background: url("../img/loop.png");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block .second_block__main_text {
  font-size: 14px;
  color: #1B3771;
  font-weight: 600;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block .second_block__main_text.mar {
  margin-top: 4px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block .second_block__second_text {
  font-size: 12px;
  color: #1B3771;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 12px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block .second_block__second_text.mar {
  margin-bottom: 5px;
}

.ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block .second_block__second_text img {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.ex_proc .ex_proc__container .ex_proc__second_point {
  padding: 45px 50px;
  padding-top: 0;
  border-top: 1px solid #edf3ff;
  background-color: #f9fcff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__steps {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 13px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__steps .step {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #edf3ff;
  border-radius: 5px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__steps .step.active_step {
  background-color: #fff2a3;
  -webkit-box-shadow: 0px 1px 2px rgba(103, 156, 248, 0.25);
          box-shadow: 0px 1px 2px rgba(103, 156, 248, 0.25);
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content {
  display: grid;
  grid-template-columns: 1fr 380px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_left .content_left__title {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #1b3771;
  font-size: 28px;
  font-weight: 600;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_left .content_left__title span {
  position: relative;
  z-index: 20;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_left .content_left__title span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  content: "";
  width: 77px;
  height: 18px;
  left: -5px;
  bottom: -30px;
  background-color: #fff2a3;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_left .content_left__text {
  font-family: "ZonaPro";
  font-size: 13px;
  font-weight: 400;
  color: #1b3771;
  max-width: 581px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_right .content_right__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  text-align: end;
  color: #1B3771;
  font-weight: 600;
  font-size: 14px;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__content .second_point__content_right .content_right__time::after {
  margin-left: 10px;
  content: url("../img/watch_later.svg");
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons {
  font-family: "ZonaPro";
  margin-top: 20px;
  display: grid;
  grid-template-columns: 420px 1fr;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__info {
  font-size: 12px;
  color: #1B3771;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__info::before {
  display: block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  content: url("../img/error.svg");
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons {
  font-family: "ZonaPro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container {
  position: relative;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block {
  display: none;
  position: absolute;
  right: 10px;
  top: -10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
          box-shadow: 0px 0px 8px rgba(104, 157, 248, 0.3);
  padding: 20px;
  background-color: #fff;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__top {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__top .delete_block__text {
  font-size: 16px;
  font-weight: 700;
  color: #1B3771;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__top .delete_block__close {
  cursor: pointer;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__bottom .delete_block__back {
  display: block;
  border-color: rgba(27, 56, 113, 0.5);
  color: rgba(27, 56, 113, 0.5);
  background-color: white;
  width: 90px;
  height: 30px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__bottom .delete_block__back:hover {
  background-color: rgba(27, 56, 113, 0.5);
  color: white;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__bottom .delete_block__cancel {
  display: block;
  border-color: #e04130;
  background-color: #e04130;
  color: white;
  width: 110px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_block .delete_block__bottom .delete_block__cancel:hover {
  background-color: white;
  color: #e04130;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_button {
  font-family: "ZonaPro";
  font-weight: 600;
  font-size: 14px;
  display: block;
  width: 195px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid red;
  color: red;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_button:hover {
  color: white;
  background-color: red;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__pay_button {
  font-family: "ZonaPro";
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 36px;
  border-radius: 6px;
  color: #1B3771;
  border: none;
  background-color: #f4e58a;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #f4e58a;
}

.ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__pay_button:hover {
  background-color: white;
}

.ex_proc .ex_proc__container .ex_proc__third_point {
  display: none;
  padding: 45px 50px;
  padding-top: 15px;
  border-top: 1px solid #edf3ff;
  background-color: #f9fcff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__content_left .content_left__title {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #1b3771;
  font-size: 28px;
  font-weight: 600;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__content_left .content_left__title span {
  position: relative;
  z-index: 20;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__content_left .content_left__title span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  content: "";
  width: 77px;
  height: 18px;
  left: -5px;
  bottom: -30px;
  background-color: rgba(224, 66, 48, 0.678);
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__content_left .content_left__text {
  font-size: 14px;
  color: #1B3771;
  max-width: 460px;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__button {
  font-family: "ZonaPro";
  font-weight: 600;
  font-size: 14px;
  color: #1B3771;
  border: 1px solid #1B3771;
  background-color: transparent;
  border-radius: 6px;
  height: 36px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__button:hover {
  background-color: #1B3771;
  color: white;
}

@media (max-width: 1200px) {
  .ex_proc .ex_proc__title {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .ex_proc .ex_proc__title::before {
    width: 300px;
    height: 36px;
    left: calc(50% - 150px);
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block {
    height: 100%;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block .first_block__text {
    width: 100%;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block::before {
    height: 100%;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block.aft::after {
    display: none;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__content {
    grid-template-columns: 1fr;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons {
    grid-template-columns: 1fr;
  }

  .ex_proc .ex_proc__container .ex_proc__third_point .third_point__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ex_proc .ex_proc__container .ex_proc__third_point .third_point__content .third_point__content_left .third_point__button {
    margin-top: 10px;
  }

  .ex_proc .ex_proc__container .ex_proc__fourth_point .fourth_point__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ex_proc .ex_proc__container .ex_proc__fourth_point .fourth_point__content .fourth_point__content_left .fourth_point__button {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .ex_proc .ex_proc__title {
    font-size: 38px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .ex_proc .ex_proc__title::before {
    width: 220px;
    height: 28px;
    left: calc(50% - 110px);
  }

  .ex_proc .ex_proc__container .ex_proc__first_point {
    padding: 30px 25px;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block .first_block__text {
    width: 100%;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__first_block .first_block__text.date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ex_proc .ex_proc__container .ex_proc__first_point .first_point__blocks .first_point__second_block.aft::after {
    display: none;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__content {
    grid-template-columns: 1fr;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons {
    grid-template-columns: 1fr;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons {
    font-family: "ZonaPro";
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .ex_proc .ex_proc__container .ex_proc__second_point .second_point__info_and_buttons .second_point__buttons .second_point__delete_container .second_point__delete_button {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}